<div class="row justify-content-center">
    <div class="col-md-2">
        <div class="nav-button-go-back" (click)="goBack()"><</div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-danger w-100" (click)="removeAll()">Delete all</button>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Invoice Number</th>
            <th scope="col">Net</th>
            <th scope="col">% Tax</th>
            <th scope="col">Tax</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let invoice of invoicesPerPage; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ invoice.invoiceNumber }}</td>
            <td>{{ invoice.net | currency:'$ ':'symbol':'3.2-2' }}</td>
            <td>{{ invoice.taxPercentage / 100 | percent:'2.2' }}</td>
            <td>{{ (invoice.net * (1 + (invoice.taxPercentage/100))) - invoice.net | number : '1.2-2' }}</td>
            <td>{{ invoice.net * (1 + (invoice.taxPercentage/100)) | currency:'$ ':'symbol':'3.2-2'}}</td>
            <td><button type="button" class="btn btn-danger w-50" (click)="remove(invoice.id)">Remove</button></td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="invoices.length" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
        
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
          </select>
        </div>
    </div>
</div>