.button {
    margin-top: 31px;
    background-color: white;
    border-radius: 10px;
    height: 38px;
}

.button.add {
    border: 1px solid green;
    color: green;
}

.button.add:hover:enabled{
    background-color: green;
    border: 1px solid green;
    color: white;
}

.button.remove {
    border: 1px solid red;
    color: red;
}

.button.remove:hover:enabled{
    background-color: red;
    border: 1px solid red;
    color: white;
}

.button.add:disabled, .button.remove:disabled {
    border: 1px solid lightgray;
    background-color: lightgray;
    color: grey;
    touch-action: none;
}